body {
    background: rgba(126, 114, 136, 0.233);
    margin-left: 30px;

}
header{
    margin-top: 70px;
}
h1 {
    color:blue;
    font-family: cursive;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 18px;
}
.img_padrao {
    margin-bottom: 40px;
    width: 300px;
}
.logo{
    width: 100px;
}

footer{
    margin-bottom: 30px;
}